*
{
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    width:100%;
}

body
{
    background-image: url(achtergrond.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

ul
{
list-style: none;
}

.playfield img
{
    width: 45px;
    height: auto;
}

.playfield ul li
{
    display:inline-block;
}

section#leftboard.playfield
{
    float: left;
}

section#rightboard.playfield
{
    float: right;
}

.check-grid ul li ul li
{
display:inline-block;
}

ul#check-grid li#check1 ul li img
{
    width:30px;
    margin-right:-10px;  
    display:inline-block;
}


.logo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height: auto;
}

.buttons ul
{
    float: right;
    margin-top: 10px;
    margin-right:10px;
}

.buttons ul li
{
    display: inline-block;   
}

.buttons li img
{
    width: 35px;
    height: auto;
    text-decoration: none;
    padding: 5px
}