*
{
    margin:0;
    padding:0;
}

body
{
    background-image: url(achtergrond.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

 
.balls ul > :first-child
{
    float: left;
}

.balls ul > :last-child
{
    float: right;
}

.balls ul li
{
    display: inline-block
}

.balls ul li img
{
    width: 30px;
    height: auto; 
}