*
{
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    width:100%;
}

body
{
    background-image: url(achtergrond.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

ul
{
list-style: none;
}

.bottums ul
{
    float: right;
    margin-top: 10px;
    margin-right:10px;
}

.bottums ul li
{
    display: inline-block;   
}

.bottums li img
{
    width: 35px;
    height: auto;
    text-decoration: none;
    padding: 5px
}

.splash-image
{
    clear:both;
}

.logo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height: auto;
}

.play
{
    text-align:center;
    position:relative;
    top: -35px;
    right:-10px;
    position: relative;
    z-index: 1000;
}

.btn
{
    color:white;
    border: 1.5px solid white;
    padding:7px 60px;
    text-decoration: none;
    font-family: "Candara";
    font-size: 25px;
    
   
}

.title img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:600px;
    height: auto; 
    
}

ul.statistics 
{
    color:white;
    padding:10px;
    font-family: "Candara";
    font-size: 20px;
}

a.p
{
    float:left;
}

a.g
{
    float:right;
    padding: 0px 50px;

}

