*
{
    margin:0;
    padding:0;
}

body
{
    background-image: url(achtergrond.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul
{
list-style: none;
}

.bottums ul
{
    float: right;
    margin-top: 10px;
    margin-right:10px;
}

.bottums ul li
{
    display: inline-block;   
}

.bottums li img
{
    width: 35px;
    height: auto;
    text-decoration: none;
    padding: 5px
}

.splash-image
{
    clear:both;
}

.logo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height: auto;
}


.btn
{
    color:white;
    float:left;
    position:relative;
    left:50%;
}

.title
{
    clear:both;
}

.title img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height: auto;
    
}