*
{
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    width:100%;
}

body
{
    background-image: url(../images/achtergrond.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    font-family: "Candara";
}

.alert
{
    display: none;
}

@media screen and (max-width : 1224px) {
    .playfield, .logo, div ul.statistics, .cb, div.buttons, section,p#info {
        display: none;
    }
    .alert {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 40vh
    }
}

ul
{
list-style: none;
}

.playfield
{
    padding:0 10px;
    position:relative;
    top:30px;
    width:350px;
}

.playfield img
{
    width: 45px;
    height: auto;
}

.playfield ul li
{
    display:inline-block;
 
}

.A
{
    margin-left:50px
}

.D
{
    padding-right:50px
}

.Check
{
    position:relative;
    right:-5px;
}

.playfield ul 
{
    border-top:1.5px solid white;

}

.Check ul:last-child
{
    border-top: 0;
}

.playfield ul li:nth-child(4)
{
    border-right:1.5px solid white;
}

#leftboard
{
    float: left;
    right:-30px;
    
}

#rightboard
{
    float: right;
    right: 30px;   
}

.Check li ul li img
{
    display: none;
    width:20px;
    margin-right:-10px;
      
}

.check-grid ul li img
{
    position:relative;
    top:-18px
}

.check-grid-2 ul li img
{
    position:relative;
    right:28px;
    top: -4px;
}

.cb img
{
    width:45px;
    display: block;
}

#left img{
transition: opacity, 0.5s;
}

#left img:hover
{
  opacity:0.5;
  cursor: pointer;
}

.cb ul li
{
    display:inline-block;
 
}


.cb#cl
{
    clear:both;
    float: left;
    position:relative;
    right:-41px;
    top: 50px;
    
    
}

.cb#cr
{
    float: right;
    position:relative;
    right:98px;
    top: 50px;
   
}


.logo img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
 @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.logo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height: auto;
    position:relative;
    top:50px;

}


ul.statistics 
{
    color:white;
    padding:10px;
    font-family: "Candara";
    font-size: 20px;
    text-align:left;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width:300px;
    height: auto;
}

.statistics li span:first-child{
    margin-left: 20px;
}

ul.statistics li
{
    padding: 15px 45px;
}

ul.statistics li:first-child
{
    margin-top:30px;
    border-top: 1.5px solid white;
    
}

ul.statistics li:last-child
{
    border-bottom: 1.5px solid white;
}

.buttons li:last-child:hover::before{
    content: "click to enter fullscreen";
    color:white;
    position: absolute;
    top: 60px;
    right: 30px;
}

.buttons li:nth-child(2):hover::before{
    content: "click to (un)mute sound";
    color:white;
    position: absolute;
    top: 60px;
    right: 30px;
}

.buttons li:first-child:hover::before{
    content: "click to see instructions";
    color:white;
    position: absolute;
    top: 60px;
    right: 150px;
}

.buttons{
  display: block;
  width:30vw;
  position:fixed;
  right: 30vw;
 
}

.buttons ul li{
  display: inline-block; 
}

.buttons ul li:first-child
{
  float:left;
}

.buttons ul li:last-child
{
  float:left;
 
}

.buttons li
{
    margin-top:0;
}

.buttons li img
{
    width: 35px;
    height: auto;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    margin-left: 30px;
}



.popup
{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: black;
    opacity: 0.7;
}

.popup-content
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.5%;
    background-color: white;
    font-family: "Candara";
    text-decoration: none;
    padding: 30mm;
    width: 30%;
    height: 10%;
    border: 2mm solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    
}

.button
{
    color:black;
    border: 1.5px solid black;
    padding:7px 7px;
    text-decoration: none;
    font-family: "Candara";
    font-size: 20px;
    float: right;

}


.menu:hover, replay.hover, close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.audio {
    display: none;
}

#info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    font-family: "Candara";
    font-size: 25px;
    clear: both;
    color:white;
  }

  #instructies{
    display:none;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: absolute;
    color: white;
    top: 10vh;
    right: 33vw

}