*
{
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    width:100%;
}

body
{
    background-image: url(../images/achtergrond.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.alert
{
    display: none;
}

@media screen and (max-width : 1224px) {
    .logo, .buttons, .play {
        display: none;
    }
    .alert {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 40px;
        text-align: center;
        margin-top: 40vh
    }
}

ul
{
list-style: none;
}

.buttons ul
{
    float: right;
    margin-top: 10px;
    margin-right:10px;
}

.buttons ul li
{
    display: inline-block;   
}

.buttons li img
{
    width: 35px;
    height: auto;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
}

.buttons li:last-child:hover::before{
    content: "press f to open fullscreen";
    color:white;
    position: absolute;
    top: 60px;
    right: 30px;
}

.buttons li:first-child:hover::before{
    content: "click to see instructions";
    color:white;
    position: absolute;
    top: 60px;
    right: 40px;
}

.splash-image
{
    clear:both;
}

.logo img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height: auto;
}

.logo img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
 @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.play
{
    text-align:center;
    position:relative;
    top: -35px;
    right:-10px;
    position: relative;
    z-index: 1000;
}

.btn
{
    color:white;
    border: 1.5px solid white;
    padding:7px 60px;
    text-decoration: none;
    font-family: "Candara";
    font-size: 25px;
    
   
}

.title img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    width:600px;
    height: auto; 
    
}

ul.statistics 
{
    color:white;
    padding:10px;
    font-family: "Candara";
    font-size: 20px;
    border-bottom: 1.5px solid white;
    border-top:1.5px solid white;
    margin-top:40px;
}

li#p
{
    float:left;
}

li#g
{
    position:relative;
    float:right;
    right: 15px;

}

ul.statistics li
{
    display:inline-block;
}

#instructies{
    display:none;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: absolute;
    color: white;
    top: 20vh;
    right: 3vw

}