<!DOCTYPE html>
<html>

<head>
    <title>Mastermind splashscreen</title>
    <link href="stylesheets/splash.css" rel="stylesheet" type="text/css">
</head>


<body>
    <div class=alert>
        <p id=alerttext>Please resize your screen to a minimun width of 1224 px</p>
    </div>
    <div class="buttons">
        <ul class="buttons-list">
            <li><img id="instr" src="images/instructies.png"></li>
            <li><img id="sound" src="images/geluid.png"></li>
        </ul>
    </div>

    <div class="splash-image">
        <div class="logo">
            <img src="images/logo-bal.png">
        </div>

        <div class="play">
            <a href="play" class="btn">Play</a>
            <div>

                <div class="title">
                    <img src="images/title.png">
                </div>

                <div>
                    <ul class="statistics">
                        <li id="p"> Games initialized:
                            <%= gamesInitialized %>
                        </li>
                        <li id="o"> Games completed:
                            <%= gamesCompleted %>
                        </li>
                        <li id="g">Guesses made:
                            <%= guessesMade %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <script src="javascripts/splash.js"></script>
    <script src="javascripts/sound.js"></script>

</body>

</html>